asgiref==3.8.1
attrs==24.2.0
certifi==2026.2.25
charset-normalizer==3.4.5
dj-database-url==3.0.1
Django==4.2.29
django-cors-headers==4.6.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
drf-yasg==1.21.8
google-search-results==2.4.2
googlemaps==4.10.0
idna==3.11
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
packaging==24.2
pillow==11.1.0
psycopg==3.2.13
psycopg-binary==3.2.13
psycopg2-binary==2.9.10
PyJWT==2.10.1
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.5
rpds-py==0.21.0
sqlparse==0.5.3
typing_extensions==4.15.0
uritemplate==4.1.1
urllib3==2.6.3
whitenoise==6.11.0
