<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Conversaciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'users:profile' %}">Perfil</a> |
            <a href="{% url 'donations:lista_donaciones' %}">Donaciones</a> |
            <a href="{% url 'donations:lista_casos' %}">Casos</a>
        </nav>
    </header>

    <main>
        <h1>Conversaciones</h1>
        <div class="card">
            {% if conversaciones %}
                <ul>
                    {% for conversacion in conversaciones %}
                        <li>
                            <a href="{% url 'messaging:hilo_mensajes' conversacion.id %}">
                                {{ conversacion.id_usuario1 }} y {{ conversacion.id_usuario2 }} - Último mensaje: {{ conversacion.ultimo_mensaje }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tienes conversaciones.</p>
            {% endif %}
        </div>
    </main>

    <footer>
        <p>© {{ now.year }}</p>
    </footer>
</body>
</html>