<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Confirmar Restablecimiento de Contraseña</title>
</head>
<body>
    <h1>Confirmar Restablecimiento de Contraseña</h1>
    <p>Por favor, introduce tu nueva contraseña:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Restablecer Contraseña</button>
    </form>
    <p>¿No solicitaste un restablecimiento de contraseña? <a href="{% url 'login' %}">Iniciar sesión</a></p>
</body>
</html>